@font-face {
    font-family: 'zenlessFont';
    src: url('/fonts/印品鸿蒙体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'zenlessFont';
}
.grid-container {
    display: grid;
    grid-template-columns: auto 4fr 2fr;
    gap: 20px;
    min-height: 200vh; /* Force scrolling for demo */
}

.grid-column {
    background: #f0f0f0;
    padding: 20px;
}

.post-cards-container {
    gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: auto;
}

.right-content {
    position: sticky;
    top: calc(5vh + 40px); /* Adjusted to account for header height */
    display: flex;
    height: calc(85vh); /* Adjusted to account for header height */
    flex-direction: column;
    gap: 10px;
}