@font-face {
    font-family: 'zenlessFont';
    src: url('/fonts/印品鸿蒙体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.post-card a {
    text-decoration: none;
    width: 100%;
}

.post-card {
    display: inline-block;  /* Necessary for columns to work properly */
    width: 100%;            /* Ensure each post-card takes up the full width of the column */
    margin-bottom: 20px;    /* Space between stacked items */
    background-color: rgba(35,35,35,255);
    border-color: rgba(3,3,3,255);
    border-width: 10px;
    border-style: solid;
    border-radius: 30px 30px 5px 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease-in;
    color: white;
    font-family: 'zenlessFont';
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    overflow: clip;
}

.post-card h2, small, p {
    margin: 0;
}

.post-card-image {
    width: 100%;
    height: auto;
}

.post-card small {
    color: rgba(103,101,104,255);
}

.post-card hr {
    border: 2px solid rgba(103,101,104,255);
    margin: 0;
    padding: 0;
}

.post-card h2 {
    color: white;
}

.post-card p {
    color: rgba(178,176,177,255);
}

.post-card:hover {
    transform: scale(1.02);      /* Slightly enlarge the card */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Slightly bigger shadow */
}