@font-face {
    font-family: 'zenlessFont';
    src: url('/fonts/印品鸿蒙体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'zenlessFont';
}


.background {
    width: 100%;
    height: auto;
    background: linear-gradient(-45deg, #202020 25%, #303030 25%, #303030 50%, #202020 50%, #202020 75%, #303030 75%, #303030);
    background-size: 20px 20px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: backdrop-scroll 1000s infinite linear;
}

@keyframes backdrop-scroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -100%;
    }
}


.grid-container {
    display: grid;
    /* grid-template-columns: auto 4fr 2fr; */
    grid-template-columns: auto 4fr;
    gap: 20px;
    min-height: calc(100vh - 7vh); /* Force scrolling for demo */
}

.grid-column {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.grid-column.posts-column {
    background-color: rgba(255, 255, 255, 0);
}

.post-cards-container {
    gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: auto;
}

.post-column {
    display: flex;
    align-items: center;
}